.main{
    display: flex;
    flex-direction: column;
    align-items: center
}
textarea {
    width: 80%;
    font-family: sans-serif;
}

.head{
    font-size: 26px;
    font-family: sans-serif;
}

.prehead{
    font-size: 22px;
    color: #0a3fff;
    padding: 20px 20px;
    font-weight: 500;
    text-align: center;
}

.bg-light{
    text-align: center;
}

.navbar-brand {
    width:100%
}

#preview{
    text-align: center;
}